.header {
  position: absolute;
  width: 100%;
  font-family: "Rubik Regular";
  height: 80px;
  background: #111111;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.header_logo {
  margin-left: 70px;
  margin-right: 30px;
}

.header_text_container {
  font-size: 1.2vw;
  display: flex;
  align-items: center;
  color: #ffffff;
  justify-content: space-between;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header_text {
  position: relative;
  display: flex;
  padding: 0px 1.2vw;
  gap: 8px;
}

.header_text:hover {
  color: grey;
}

.phone {
  text-decoration: none;
  color: #ffffff;
}

.header_busket {
  margin-right: 70px;
}

.header_busket_count {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 45px;
  font-size: 12px;
  right: 65px;
  padding: 1px 0px;
  color: #000000;
  background-color: #f2c900;
  border-radius: 50%;
}

@media only screen and (max-width: 479px) {
  .header_logo {
    margin-left: 10px;
    margin-right: 0px;
  }
  .header_logo_img {
    width: 50px;
  }

  .header_text_container {
    display: block;
    margin-left: -9px;
    font-size: 3.5vw;
    line-height: 2.5vh;
    margin: 5px;
  }
  .header_text {
    display: inline-block;
    padding: 0 2vw;
  }

  .header_busket_img {
    width: 7vw;
    margin-top: 20px;
  }
  .header_busket {
    margin-right: 10px;
  }

  .header_busket_count {
    position: relative;
    margin: auto;
    right: 0;
    left: 6px;
    padding: 2px 6px;
    top: -14px;
    font-size: 10px;
  }
}

@media (min-width: 479px) and (max-width: 768px) {
  .header_logo {
    margin-left: 10px;
    margin-right: 10px;
  }
  .header_busket {
    margin-right: 10px;
  }
  .header_busket_count {
    position: relative;
    margin: auto;
    right: 0;
    left: -10px;
    padding: 2px 6px;
    top: 0px;
    font-size: 10px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .header_logo {
    margin-left: 20px;
    margin-right: 10px;
  }
  .header_busket {
    margin-right: 20px;
  }
  .header_busket_count {
    position: relative;
    margin: auto;
    left: -10px;
    padding: 3px 7px;
    top: 5px;
    font-size: 12px;
  }
}
